In [242]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
# import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [243]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [244]:
# train data
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [245]:
#test data
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [246]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [247]:
test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [248]:
# ax = train_df['Age'].hist(bins=15, density=True, stacked=True, alpha=0.7)

# train_df['Age'].plot(kind='density')

# ax.set(xlabel='Age')
# plt.xlim(0, 90)
# plt.grid()
# plt.show()

In [249]:
train_df['Age'].mean(skipna=True)

29.69911764705882

In [250]:
test_df['Age'].mean(skipna=True)

30.272590361445783

In [251]:
train_df['Age'].median(skipna=True)

28.0

In [252]:
test_df['Age'].median(skipna=True)

27.0

In [253]:
# sns.countplot(x='Embarked', data=train_df, palette='Set1')
# plt.show()

In [254]:
print('Most boarded port: ', train_df['Embarked'].value_counts().idxmax())

Most boarded port:  S

In [255]:
train_data = train_df.copy()
test_data = test_df.copy()

In [257]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
train_data["Sex"]=label.fit_transform(train_data["Sex"])
train_data["Embarked"]=label.fit_transform(train_data["Embarked"])
test_data["Sex"]=label.fit_transform(test_data["Sex"])
test_data["Embarked"]=label.fit_transform(test_data["Embarked"])

In [258]:
train_data["Age"].fillna(train_df["Age"].median(skipna=True), inplace=True)
test_data["Age"].fillna(test_df["Age"].median(skipna=True), inplace=True)

In [260]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [197]:
# train_data["Embarked"].fillna(train_df['Embarked'].value_counts().idxmax(), inplace=True)
# test_data["Embarked"].fillna(test_df['Embarked'].value_counts().idxmax(), inplace=True)

In [261]:
train_data.drop('Cabin', axis=1, inplace=True)
test_data.drop('Cabin', axis=1, inplace=True)

In [262]:
train_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [263]:
test_data.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Embarked       0
dtype: int64

In [264]:
test_data['Fare'].fillna(test_data['Fare'].dropna().median(), inplace=True)

In [265]:
test_data.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [266]:
train_data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,2
5,6,0,3,"Moran, Mr. James",1,28.0,0,0,330877,8.4583,1
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,2
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2.0,3,1,349909,21.0750,2
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.0,0,2,347742,11.1333,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.0,1,0,237736,30.0708,0

In [267]:
test_data.head(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,2
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,1
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,2
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,2
5,897,3,"Svensson, Mr. Johan Cervin",1,14.0,0,0,7538,9.2250,2
6,898,3,"Connolly, Miss. Kate",0,30.0,0,0,330972,7.6292,1
7,899,2,"Caldwell, Mr. Albert Francis",1,26.0,1,1,248738,29.0000,2
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",0,18.0,0,0,2657,7.2292,0
9,901,3,"Davies, Mr. John Samuel",1,21.0,2,0,A/4 48871,24.1500,2

In [268]:
# train_data['SoloTravel'] = np.where((train_data["SibSp"] + train_data["Parch"]) > 0, 0, 1)
# test_data['SoloTravel'] = np.where((test_data["SibSp"] + test_data["Parch"]) > 0, 0, 1)

In [269]:
train_data.drop('SibSp', axis=1, inplace=True)
train_data.drop('Parch', axis=1, inplace=True)

test_data.drop('SibSp', axis=1, inplace=True)
test_data.drop('Parch', axis=1, inplace=True)

In [270]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,A/5 21171,7.2500,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,PC 17599,71.2833,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,STON/O2. 3101282,7.9250,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,113803,53.1000,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,373450,8.0500,2

In [271]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,330911,7.8292,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,363272,7.0000,2
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,240276,9.6875,1
3,895,3,"Wirz, Mr. Albert",1,27.0,315154,8.6625,2
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,3101298,12.2875,2

In [272]:
# train_data = pd.get_dummies(train_data, columns=["Pclass","Embarked","Sex"], drop_first=True)
# test_data = pd.get_dummies(test_data, columns=["Pclass","Embarked","Sex"], drop_first=True)

In [273]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,A/5 21171,7.2500,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,PC 17599,71.2833,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,STON/O2. 3101282,7.9250,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,113803,53.1000,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,373450,8.0500,2

In [274]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,330911,7.8292,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,363272,7.0000,2
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,240276,9.6875,1
3,895,3,"Wirz, Mr. Albert",1,27.0,315154,8.6625,2
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,3101298,12.2875,2

In [275]:
train_data.drop('PassengerId', axis=1, inplace=True)
train_data.drop('Name', axis=1, inplace=True)
train_data.drop('Ticket', axis=1, inplace=True)
test_data.drop('PassengerId', axis=1, inplace=True)
test_data.drop('Name', axis=1, inplace=True)
test_data.drop('Ticket', axis=1, inplace=True)

In [276]:
train_data.head()

   Survived  Pclass  Sex   Age     Fare  Embarked
0         0       3    1  22.0   7.2500         2
1         1       1    0  38.0  71.2833         0
2         1       3    0  26.0   7.9250         2
3         1       1    0  35.0  53.1000         2
4         0       3    1  35.0   8.0500         2

In [277]:
test_data.head()

   Pclass  Sex   Age     Fare  Embarked
0       3    1  34.5   7.8292         1
1       3    0  47.0   7.0000         2
2       2    1  62.0   9.6875         1
3       3    1  27.0   8.6625         2
4       3    0  22.0  12.2875         2

In [278]:
train_data.shape

(891, 6)

In [279]:
test_data.shape

(418, 5)

In [280]:
col_names = train_data.columns

col_names

Index(['Survived', 'Pclass', 'Sex', 'Age', 'Fare', 'Embarked'], dtype='object')

In [281]:
# plt.figure(figsize=(15,8))

# ax = sns.kdeplot(train_data["Age"][train_data.Survived == 1], color="green", shade=True)

# sns.kdeplot(train_data["Age"][train_data.Survived == 0], color="red", shade=True)

# plt.legend(['Survived', 'Died'])
# plt.title('Survival and Death Density Graph for Age')
# ax.set(xlabel='Age')
# plt.xlim(-10,85)
# plt.show()

In [282]:
# plt.figure(figsize=(15,8))

# ax = sns.kdeplot(train_data["Fare"][train_data.Survived == 1], color="green", shade=True)

# sns.kdeplot(train_data["Fare"][train_data.Survived == 0], color="red", shade=True)

# plt.legend(['Survived', 'Died'])
# plt.title('Density Plot of Fare for Surviving Population and Deceased Population')
# ax.set(xlabel='Fare')
# plt.xlim(-20,200)
# plt.show()

In [283]:
# sns.barplot('Pclass', 'Survived', data=train_df, color="green")

# plt.show()

In [284]:
# sns.barplot('SoloTravel', 'Survived', data=train_data, color="green")

# plt.show()

In [285]:
# sns.barplot('Sex', 'Survived', data=train_df, color="green")

# plt.show()

In [286]:
train_data.drop('Survived', axis=1, inplace=True)

In [287]:
train_data.describe()

           Pclass         Sex         Age        Fare    Embarked
count  891.000000  891.000000  891.000000  891.000000  891.000000
mean     2.308642    0.647587   29.361582   32.204208    1.538721
std      0.836071    0.477990   13.019697   49.693429    0.794231
min      1.000000    0.000000    0.420000    0.000000    0.000000
25%      2.000000    0.000000   22.000000    7.910400    1.000000
50%      3.000000    1.000000   28.000000   14.454200    2.000000
75%      3.000000    1.000000   35.000000   31.000000    2.000000
max      3.000000    1.000000   80.000000  512.329200    3.000000

In [288]:
cols = train_data.columns

cols

Index(['Pclass', 'Sex', 'Age', 'Fare', 'Embarked'], dtype='object')

In [289]:
train_data.head()

   Pclass  Sex   Age     Fare  Embarked
0       3    1  22.0   7.2500         2
1       1    0  38.0  71.2833         0
2       3    0  26.0   7.9250         2
3       1    0  35.0  53.1000         2
4       3    1  35.0   8.0500         2

In [290]:
test_data.head()

   Pclass  Sex   Age     Fare  Embarked
0       3    1  34.5   7.8292         1
1       3    0  47.0   7.0000         2
2       2    1  62.0   9.6875         1
3       3    1  27.0   8.6625         2
4       3    0  22.0  12.2875         2

In [291]:
# from sklearn.preprocessing import MinMaxScaler

# scaler = MinMaxScaler()

# train_data = scaler.fit_transform(train_data)
# test_data = scaler.fit_transform(test_data)

In [292]:
type(train_data)

pandas.core.frame.DataFrame

In [293]:
type(test_data)

pandas.core.frame.DataFrame

In [294]:
# train_data = pd.DataFrame(train_data, columns=[cols])
# test_data = pd.DataFrame(test_data, columns=[cols])

In [295]:
train_data.head()

   Pclass  Sex   Age     Fare  Embarked
0       3    1  22.0   7.2500         2
1       1    0  38.0  71.2833         0
2       3    0  26.0   7.9250         2
3       1    0  35.0  53.1000         2
4       3    1  35.0   8.0500         2

In [296]:
test_data.head()

   Pclass  Sex   Age     Fare  Embarked
0       3    1  34.5   7.8292         1
1       3    0  47.0   7.0000         2
2       2    1  62.0   9.6875         1
3       3    1  27.0   8.6625         2
4       3    0  22.0  12.2875         2

In [297]:
from sklearn.ensemble import RandomForestClassifier
y = train_df["Survived"]
X = train_data
X_test = test_data
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

In [236]:
predictions

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [240]:
output = pd.DataFrame({'PassengerId': test_df.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [302]:
from sklearn.linear_model import LogisticRegression
y = train_df["Survived"]
X = train_data
X_test = test_data
model = LogisticRegression(max_iter=500, random_state=40)
model.fit(X, y)
predictions = model.predict(X_test)

In [303]:
predictions

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [304]:
output = pd.DataFrame({'PassengerId': test_df.PassengerId, 'Survived': predictions})
output.to_csv('submission_lr.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!